// Colours partial

// Text colours

$white: #fafafa; //white
$black: #000000; //black
$serif-color: #000000;
$base: #140A41; //body font
$light-slate: #5E6265;
$light-grey: #F4F6F9; //light section
$dark-grey: #8A9097;
$predominant: #C1272D; //#CCC;
$dark-teal: #F84D4E; //cta-hover
$porcelain: #E5E7E9; //keylines
