// Layout variables partial
@import "colors";

$section-padding: 35px; // padding espacio entre títulos y contenido
$section-padding-regular: $section-padding 0;
$section-padding-tall: 160px 0;
$content-lr-padding: 160px;
$content-padding-between: 35px;

.has-padding {
    padding: $section-padding-regular;
}

.wp-page.has-padding {
	padding-top: 0;
    padding-bottom: 0;
}

.has-padding-tall {
    padding: $section-padding-tall;
}
.alternate-bg {
    background-color: $blue;
}
.footer-bg {
    background-color: $base;
}
.is-centered {
    text-align: center;
}
