// Typography partial
@import 'colors'; // Fonts

$sans-serif: Raleway, Verdana, Arial, sans-serif;
$h1-family: Raleway,'Open Sans', Raleway, Verdana, sans-serif;
$h2-family: Raleway,myriad-pro, Raleway, Verdana, sans-serif;
$h3-family: Raleway,myriad-pro, Raleway, Verdana, sans-serif;
$serif: Raleway,myriad-pro, Raleway, Verdana, sans-serif;

$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$strong: 700; // Styles
$italic: italic; // Sizes

// Headings
$serif-size: 14px;
$font-size-h1: 22px;
$font-size-h2: 14px;
$font-size-h3: 12px;
$font-size-h4: 15px;
$font-size-h5: 13px; // Other

$font-size-base: 15px;
$font-size-footer: 14px;
$font-size-nav: 14px;
$font-size-search-input: 13px;
$font-size-tag: 13px;
$font-size-smalltext: 13px;
$font-size-button: 13px; // Responsive Sizes

$responsive-h1: 40px; // Line height
$line-height-h1: 68px;
$base-line-height: 20px;
$line-height-article-header: 30px; // Styles

// Others
$text-shadow: 1px 0px 0px #000;

/*  social icons size  */
        $size: 30px;
        $corner-dist: 30px;
/* ------------------- */


/* ==========================================================================
Typography
========================================================================== */

p {
    font-family: $sans-serif;
    font-size: $serif-size;
    line-height: $base-line-height;
    font-weight: $semibold;
}

h1 {
    font-family: $h1-family;
    font-size: $font-size-h1;
    font-weight: $bold;
    line-height: $line-height-h1;
}

h2 {
    font-family: $h2-family;
    font-size: $font-size-h2;
    font-weight: $bold;
    color: $predominant;
}

h3 {
    font-family: $h3-family;
    font-size: $font-size-h3;
    line-height: $font-size-h3 + 9px; // +offset
    color: $dark-grey;
}

.bold-italic {
    font-weight: $bold;
    font-style: $italic;
}

strong { font-weight: bold; }
