/* line 5, ../scss/partials/layout.scss */
.has-padding {
  padding: 125px 0;
}

/* line 8, ../scss/partials/layout.scss */
.has-padding-tall {
  padding: 160px 0;
}

/* line 11, ../scss/partials/layout.scss */
.alternate-bg {
  background-color: #F4F6F9;
}

/* line 14, ../scss/partials/layout.scss */
.footer-bg {
  background-color: #2f3b44;
}

/* line 17, ../scss/partials/layout.scss */
.is-centered {
  text-align: center;
}
